@model WebApplication2.Models.ViewModels.GeneroABMViewModel

@using (Html.BeginForm("Create", "Genero", FormMethod.Post, new { @id = "form" }))
{

    <div>
        <label>Nombre</label>
        <input class="form-control" type="text" id="Nombre" name="Nombre" value="@Model.Nombre" />
        <span style="color:red">@Html.ValidationMessageFor(m => m.Nombre)</span>
    </div>

    <div>
        <button>Guardar </button>
    </div>
}